 .menu {
     align-content: center;
     border: 1;
     background-color: #009ada;
     height: 1.2cm;
     overflow: auto;
     flex: 1;
     display: flex;
     justify-content: space-evenly;
     vertical-align: auto;
     text-decoration-color: none;
 }
 
 #logo {
     height: 120px;
     width: 120px;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 
 #modelsofyourdreams {
     color: #009ada;
 }
 
 .menubutton {
     font-size: 1cm;
     text-decoration: none;
     color: white;
 }
 
 .menubutton:hover {
     color: white;
     background-color: #003951;
 }
 
 #firstimg {
     float: left;
 }
 
 #secondimg {
     float: right;
 }